__pycache__/
*.pyc

federated/flare/data/
jobs/
results/fedavg/
provision_workspace/

training_docker_v1/flare_outputs/
training_docker_v1/federated/flare/data/
training_docker_v1/jobs/
training_docker_v1/provision_workspace/
